<div class="px-4">
  <div id="timeSelectContainer">
    <div class="container mt-4">
      {{#if reservationId}}
      <div class="d-flex align-items-center my-3">
        <strong class="me-2">Reservation ID:</strong>
        <input type="text" id="reservationId" value="{{reservationId}}" readonly class="form-control"
          style="width: fit-content;">
      </div>
      {{/if}}

      <p class="d-flex align-items-center">
        <strong class="me-2">Date:</strong>
        <input type="text" value="{{bookingDate}}" class="form-control w-auto" readonly>
        <input type="hidden" id="bookingDate" value="{{bookingDate}}">
      </p>

      <input type="hidden" id="labName" value="{{lab.name}}">
      <input type="hidden" id="seatNumber">
      <input type="hidden" id="cartSession" value="{{cartSession}}">

      <div class="row mb-3 align-items-center">
        <div class="col-auto">
          <strong>
            <label class="form-label mb-0" for="bookingTime">Select Time:</label>
          </strong>
        </div>

        <div class="col-auto">
          <select class="form-select" id="bookingTime">
            {{#each timeSlotsArray}}
            <option value="{{this}}" {{#if (eq this ../bookingTime)}}selected{{/if}}>
              {{minutesToTime this}}
            </option>
            {{/each}}
          </select>
        </div>
      </div>

    </div>
  </div>

  <!-- SEAT GRID -->

  <div class="row" id="seatGrid">
    {{#each labSeats}}
    <div class="col-md-2 col-3 mb-2">
      <button type="button" class="btn seat-btn w-100 {{#if (eq this.status "
        reserved")}}btn-outline-danger{{else}}btn-outline-primary{{/if}}" data-seat="{{this.seatNumber}}"
        data-booking-time="{{../bookingTime}}" data-student-id="{{this.studentIdNumber}}">

        {{#if (eq this.status "Reserved")}}
        {{this.studentName}}
        {{else}}
        {{this.seatNumber}}
        {{/if}}

      </button>

    </div>
    {{/each}}
  </div>

  {{#if (isLoggedIn user)}}

  <div class="mt-4" id="selectedSeatsTableContainer">

    <h5>Selected Seats:</h5>

    <table class="table">
      <thead>
        <tr>
          <th>Time</th>
          <th>Seat Number</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody id="selectedSeatsTableBody"></tbody>

    </table>

    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="isAnonymous" value="true">
      <label class="form-check-label" for="isAnonymous">
        Reserve Anonymously
      </label>
    </div>

    <div class="text-center mt-3">

      {{#if reservationId}}
      <button id="updateButton" type="button" class="btn btn-primary">
        Update Reservation
      </button>
      {{else}}
      <button id="confirmReservationBtn" type="button" class="btn btn-success">
        Create Reservation
      </button>
      {{/if}}

      {{#if (eq user.role 'technician')}}
      <button id="editReservationBtn" type="button" class="btn btn-warning ms-2">
        Edit
      </button>

      <button type="button" class="btn btn-danger" id="deleteReservationBtn">
        Delete
      </button>
      {{/if}}

    </div>

  </div>

  {{/if}}

  <input type="hidden" id="isTechnician" value='{{#isTechnician user}}true{{/isTechnician}}'>
  <input type="hidden" id="cartSessionInput" value='{{cartSession}}'>
</div>
<script src="/js/lab-details.js"></script>